greyColor = #9BA9BA
lightGreyColor = #F0F2F6
darkGreyColor = #465567
blueColor = #319ADC
@import url('https://fonts.googleapis.com/css?family=Roboto');
body
    font-family Roboto, sans-serif
    min-height 100vh
    background linear-gradient(to left,lightGreyColor 0%, #fff 25%, #fff 75%, lightGreyColor 100%)
    font-size 100%
    color darkGreyColor
.fileSummaryReport
    width 45rem
    h2
        text-align center
.label
.value
    display inline-block
    width 20rem
    box-sizing content-box
.label
    text-align right
    padding-right 2rem
